body{
    background-color: #727572;
}
div.desc {
  padding: 15px;
  text-align: center;
}

#center{
    margin-left: 15%;
    margin-right: 15%;
}
h1{
    text-align: center;
}
div.form1{
    width: 500;
}
p{
    text-align: center;
    font-size: 1.5em;
}
